:root {
  --c-black: #191919;
  --c-black-transparent: #191919aa;
  --c-black-soft: #333;
  --c-white: #eee;
  --c-white-mute: #ccc;
  --c-white-mute-transparent: #cccccc88;
  --c-white-soft: #bbb;
  --c-grey: #666;
  --c-grey-soft: #999;
  --c-greyish: #dfffd855;
  --c-violet-dark: #712b7555;
  --c-orange-dark: #d49b5455;
  --c-red: #c74b50;
  --c-red-variant-1: #de5d49;
  --c-red-variant-2: #d46e46;
  --c-red-variant-3: #de4998;
  --c-red-variant-4: #d146d4;
  --c-blue-light: #3a98b9;
  --c-blue-light-variant-1: #367fd1;
  --c-blue-light-variant-2: #3452c7;
  --c-blue-light-variant-3: #36d1d1;
  --c-blue-light-variant-4: #34c79e;
  --c-blue-dark: #95bdff55;
}

:root {
  --color-primary: var(--c-black);
  --color-secondary: var(--c-white-mute);
  --color-secondary-light: var(--c-white-mute-transparent);
  --color-accent: var(--c-blue-light);
  --color-accent-variant-1: var(--c-blue-light-variant-1);
  --color-accent-variant-2: var(--c-blue-light-variant-2);
  --color-accent-variant-3: var(--c-blue-light-variant-3);
  --color-accent-variant-4: var(--c-blue-light-variant-4);
  --color-border: var(--c-grey);
  --color-title-card: var(--c-black-soft);
  --color-blob-1: var(--c-blue-dark);
  --color-blob-2: var(--c-greyish);
}

@media (prefers-color-scheme: light) {
  :root {
    --color-primaryr: var(--c-white);
    --color-secondary: var(--c-black);
    --color-secondary-light: var(--c-black-transparent);
    --color-accent: var(--c-red);
    --color-accent-variant-1: var(--c-red-variant-1);
    --color-accent-variant-2: var(--c-red-variant-2);
    --color-accent-variant-3: var(--c-red-variant-3);
    --color-accent-variant-4: var(--c-red-variant-4);
    --color-border: var(--c-grey-soft);
    --color-title-card: var(--c-white-soft);
    --color-blob-1: var(--c-violet-dark);
    --color-blob-2: var(--c-orange-dark);
  }
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

* {
  margin: 0;
  font-family: "Roboto", sans-serif;
  transition: color 0.6s ease-in-out, background-color 0.6s ease-in-out,
    border-color 0.6s ease-in-out, box-shadow 0.6s ease-in-out;
}

.visually-hidden {
  display: none;
}

a:focus {
  outline: 2px solid var(--color-accent);
}

button:focus {
  outline: 2px solid var(--color-accent);
}
