:root {
  --c-black: #191919;
  --c-black-transparent: #191919aa;
  --c-black-soft: #333;
  --c-white: #eee;
  --c-white-mute: #ccc;
  --c-white-mute-transparent: #cccccc88;
  --c-white-soft: #bbb;
  --c-grey: #666;
  --c-grey-soft: #999;
  --c-greyish: #dfffd855;
  --c-violet-dark: #712b7555;
  --c-orange-dark: #d49b5455;
  --c-red: #c74b50;
  --c-blue-light: #3a98b9;
  --c-blue-dark: #95bdff55;
}

:root {
  --primary-color: var(--c-black);
  --secondary-color: var(--c-white-mute);
  --secondary-color-light: var(--c-white-mute-transparent);
  --canvas-color: var(--c-grey);
  --accent-color: var(--c-blue-light);
  --title-card-color: var(--c-black-soft);
  --blob-color-1: var(--c-blue-dark);
  --blob-color-2: var(--c-greyish);
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-color: var(--c-white);
    --secondary-color: var(--c-black);
    --secondary-color-light: var(--c-black-transparent);
    --canvas-color: var(--c-grey-soft);
    --accent-color: var(--c-red);
    --title-card-color: var(--c-white-soft);
    --blob-color-1: var(--c-violet-dark);
    --blob-color-2: var(--c-orange-dark);
  }
}

* {
  margin: 0;
  font-family: "Roboto", sans-serif;
  transition: color 0.6s ease-in-out, background-color 0.6s ease-in-out,
    border-color 0.6s ease-in-out, box-shadow 0.6s ease-in-out;
}
